body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#request-form {
    margin-top: 20px;
}

#address {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}

#request-btn {
    width: 20%;
    height: 40px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#request-btn:hover {
    background-color: #3e8e41;
}

#transaction-status {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}